* {
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'Poppins';
    background-color: #f1f1f1;
    color: #353535;
}

body {

    height: 100vh;
    width: 100%;
    margin: 0;
    position: absolute;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logos {
    background-color: black;
    padding-right: 100px;
    overflow: hidden;
}

.img_logo {
    padding-left: 10px;
    background-color: black;
    overflow: hidden;
}

.img_links {
    text-decoration: none;
    overflow: hidden;

}

h1 {
    margin-left: 100px;
    border: 0;

}

header a {
    text-decoration: none;
    background-color: black;
    color: #f1f1f1;
    border: 0;


}

h1 a {

    text-decoration: none;
    background-color: black;
    color: #f1f1f1;
    border: 0;


}

nav {
    width: 100%;
    margin-top: 100px;
    overflow: hidden;

}

.homepage.list.item {
    overflow: hidden;
}

.list {

    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    line-height: 3px;

}

.num {
    margin: auto;
    font-size: .75rem;
    color: #9b9b9b;
}

.item {

    font-size: .75rem;
    transition: ease-in .13s;
    margin: 0 auto;
}

.link {

    position: relative;
    color: #353535;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 7px;
    overflow: hidden;


}

.link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #121212;
    transition: all 100ms ease-in-out;
    font-size: 1rem;

}

.link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #121212;
    transition: all 390ms ease-in-out;
    font-size: 1rem;

}

.link:hover::after {
    width: 100%;

}



footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 30px;
}

.page1 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.homepagebox {
    height: 100px;
    width: 300px;
    overflow: hidden;
    position: relative;
}